<!DOCTYPE html>
<html>
<head>
  <title>Rails and rack-cache demo</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

<div class="page-header">
  <h1>Gentle intro to client and server side HTTP caching</h1>
</div>

<ul class="nav nav-pills">
  <li role="presentation"><%= link_to 'No cache', nocache_path %></li>
  <li role="presentation"><%= link_to 'Public', public_path %></li>
  <li role="presentation"><%= link_to 'Private', private_path %></li>
  <li role="presentation"><%= link_to 'Shared only', shared_only_path %></li>
  <li role="presentation"><%= link_to 'Some AJAX shenanigans', bit_of_ajax_path %></li>
</ul>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= yield :heading %></h3>
  </div>

  <div class="panel-body">
    <%= yield %>
  </div>

  <div class="panel-footer">
    Time this page was generated: <strong><%= time_tag Time.now %></strong>
  </div>
</div>

</body>
</html>
